.back-ground {
  color:blue;
}
.jumbotron jumbotron-fluid{
  color-scheme: rgb(48, 202, 223);
}
.container{
  color:rgb(48, 202, 223)
}
rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"

  